/* Variables for primary and secondary colors */
:root {
  --primary-color: #4CAF50; /* Default primary color */
  --secondary-color: #FF5722; /* Default secondary color */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--secondary-color); /* Secondary color as background */
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color); /* Primary color for the header */
  color: white;
}

.header img {
  height: 50px;
}

.header button {
  background-color: white;
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.header button:hover {
  background-color: var(--primary-color);
  color: white;
}

.home-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #008080;
}

.profile-container {
  margin-bottom: 20px;
  width: 100%;
}

.calculator-container {
  width: 100%;
  max-width: 800px; /* Limit the width of the calculator */
}
